<div class="nav navbar-top-links navbar-right">
  <div class="btn-group domains">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-domain="<%= @service_presenter.domains.keys.first %>">
      <span class="current"><%= @service_presenter.domains.values.first %> (<%= @service_presenter.domains.keys.first %>)</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @service_presenter.domains.each do |url, name| %>
        <li><a href="#" class='domain' data-domain="<%= url %>"><%= name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
