<% @service_presenter.endpoints_by_prefix.each do |prefix, endpoints| %>
  <li class="endpoint-group <%= endpoints.map(&:url).include?(@endpoint_presenter.try(:url)) and 'active' %>">
      <a href="#"><%= prefix %></a>
      <ul class="nav">
          <% endpoints.each do |endpoint| %>
            <li class="<%= endpoint.url == @endpoint_presenter.try(:url) and 'active' %>">
                <a href="<%= endpoint.url %>">
                  <span class="btn btn-<%= endpoint.verb_colorname %> btn-xs"><%= endpoint.verb %>&nbsp;<%= endpoint.named_path %></span>
                  <br>
                  <span><%= endpoint.description %></span>
                </a>
            </li>
          <% end %>
      </ul>
  </li>
<% end %>
