<!DOCTYPE html>
<html>
<head>
  <title>API Taster</title>
  <script src="<%= @service_presenter.html_directory %>/public/application.js"></script>
  <link href="<%= @service_presenter.html_directory %>/public/application.css" media="all" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= @service_presenter.index_path %>">API Taster</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/" target="_blank"><%= @service_presenter.name %> <i class="icon-share-alt icon-white"></i></a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div id="wrapper" class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
