<h1>
  <%# render_erb('shared/endpoint_name.html.erb', endpoint_presenter.get_binding)  %>
</h1>

<div id="nav">
  <% if @endpoint.service.meta_service %>
    <a href="<%= @service_presenter.html_directory %>">
      &#187; <%# @endpoint.service.meta_service.name %>
    </a>
  <% end %>
  <% if @service_presenter %>
    <%= raw @service_presenter.name_as_link(:prefix => '&#187;') %>
  <% end %>
</div>

<h2><%= @endpoint_presenter.endpoint.description %></h2>
<h3>
  <span class="label label-info"><%= @endpoint_presenter.endpoint.verb %></span>
  <%= @endpoint_presenter.path %>
</h3>




<% if @endpoint_presenter.example_request %>
  <%= raw tag_with_anchor('h2', 'Request') %>

  <%= raw tag_with_anchor('h3', 'Example Request') %>
  <%= raw @endpoint_presenter.example_request.to_html %>

  <%= raw tag_with_anchor('h3', 'Request Parameters') %>
  <%= raw @endpoint_presenter.request_parameters.to_html %>
<% end %>

<%= raw tag_with_anchor('h2', 'Response') %>
<% if @endpoint_presenter.example_response %>
  <%= raw tag_with_anchor('h3', 'Example Response') %>
  <%= raw @endpoint_presenter.example_response.to_html %>

  <%= raw tag_with_anchor('h3', 'Response Parameters') %>
  <%= raw @endpoint_presenter.response_parameters.to_html %>
<% end %>

<%= raw tag_with_anchor('h3', 'Response Codes') %>
<% unless @endpoint_presenter.successful_response_codes.empty? %>
  <%= raw tag_with_anchor('h4', 'Successful Response Codes') %>
  <ul>
    <% @endpoint_presenter.successful_response_codes.each do |response_code| %>
    <li>
      <%= raw response_code.to_html %>
    </li>
    <% end %>
  </ul>
<% end %>

<% unless @endpoint_presenter.failure_response_codes.empty? %>
  <%= raw tag_with_anchor('h4', 'Failure Response Codes') %>
  <ul>
    <% @endpoint_presenter.failure_response_codes.each do |response_code| %>
    <li>
      <%= raw response_code.to_html %>
    </li>
    <% end %>
  </ul>
<% end %>
