<% service_presenter.endpoints_by_prefix.each_with_index do |(prefix, endpoints), index| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseMenu<%=index%>"><%= prefix %></a>
      </h4>
    </div>

    <div id="collapseMenu<%=index%>" class="panel-collapse collapse">
      <div class='panel-body'>
        <table class='table'>
          <tbody>
            <% endpoints.each do |endpoint| %>
              <tr>
                <td>
                  <a href="<%= service_presenter.html_directory %>/<%= endpoint.url %>">
                    <% if endpoint.endpoint.description.present? %>
                      <%= endpoint.endpoint.description %>
                      <h6>
                        <span class="label label-default"><%= endpoint.verb %></span>
                        <%= endpoint.path %>
                      </h6>
                    <% else %>
                      <span class='label label-info'>
                        <%= endpoint.verb %>
                      </span>
                      <%= endpoint.path %>
                    <% end %>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
