<h1 id="endpoint" class="page-header"><%= @endpoint_presenter.description %></h1>
<pre><%= @endpoint_presenter.verb %> <%= @endpoint_presenter.named_path %></pre>

<h3>Example</h3>
<%= render 'submit_form' %>

<div id="show-api-response-div" class="highlight">
  <table class="small table table-condensed" ref="response-info" style="display: none;">
    <tr class="status">
      <th class="name">Status:</th>
      <td class="value"></td>
    </tr>
    <tr class="time">
      <th class="name">Time:</th>
      <td class="value"></td>
    </tr>
    <tr class="headers">
      <th class="name">Headers:</th>
      <td>
        <a href="javascript:void(0)" data-toggle="collapse" data-target="#headers">Toggle</a>
        <div id="headers" class="collapse value"></div>
      </td>
    </tr>
  </table>
  <pre><code id="response" ref="response-example" class="hljs"><%= @endpoint_presenter.example_response.html_safe %></code></pre>
  <pre><code ref="response-raw" style="display: none;"></code></pre>
</div> <!-- ./#show-api-response-div -->

<h3>Request Schema</h3>
<%= raw @endpoint_presenter.request_parameters.to_html %>

<h3>Response Schema</h3>
<%= raw @endpoint_presenter.response_parameters.to_html %>
