    <h1 class="page-header"><%= @endpoint_presenter.description %></h1>
    <pre><%= @endpoint_presenter.verb %> <%= @endpoint_presenter.named_path %></pre>

    <%= render 'submit_form' %>

    <div id="show-api-response-div" class="highlight">
      <table class="small" ref="response-info" style="display: none;">
        <tr class="status">
          <td class="name">Status:</td>
          <td class="value"></td>
        </tr>
        <tr class="time">
          <td class="name">Time:</td>
          <td class="value"></td>
        </tr>
        <tr class="headers">
          <td class="name">Headers:</td>
          <td class="value"></td>
        </tr>
      </table>
      <pre><code class="prettyprint nowrap" ref="response-json" style="display: none;"></code></pre>
      <pre><code class="prettyprint" ref="response-raw" style="display: none;"></code></pre>
      <pre><code id="response" ref="response-example" class="hljs"><%= @endpoint_presenter.example_response.html_safe %></code></pre>
    </div> <!-- ./#show-api-response-div -->

    <div class="panel panel-default">
      <div class="panel-heading">Request Schema</div>
      <div class="panel-body">
        <%= raw @endpoint_presenter.request_parameters.to_html %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Response Schema</div>
      <div class="panel-body">
        <%= raw @endpoint_presenter.response_parameters.to_html %>
      </div>
    </div>
