<div class="row">
  <div class="col-md-12">
    <h1 class="page-header"><%= @endpoint_presenter.description %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <pre><%= @endpoint_presenter.verb %> <%= @endpoint_presenter.named_path %></pre>

    <div id="show-api-response-div" class="panel panel-default" style="display: none;">
      <div class="panel-heading">
          <p class="lead">Live Response</p>
          <table class="small" ref="response-info">
            <tr class="status">
              <td class="name">Status:</td>
              <td class="value"></td>
            </tr>
            <tr class="time">
              <td class="name">Time:</td>
              <td class="value"></td>
            </tr>
            <tr class="headers">
              <td class="name">Headers:</td>
              <td class="value"></td>
            </tr>
          </table>
      </div>
      <div class="panel-body">
        <pre class="prettyprint nowrap" ref="response-json" style="display: none;"></pre>
        <pre class="prettyprint" ref="response-raw" style="display: none;"></pre>
      </div>
    </div> <!-- ./#show-api-response-div -->

    <div class="panel panel-default">
      <div class="panel-heading">Response</div>
      <div class="panel-body">
        <%= raw @endpoint_presenter.example_response.to_html %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Request Schema</div>
      <div class="panel-body">
        <%= raw @endpoint_presenter.request_parameters.to_html %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Response Schema</div>
      <div class="panel-body">
        <%= raw @endpoint_presenter.response_parameters.to_html %>
      </div>
    </div>
  </div> <!-- ./col-md-8 -->
  <div id="show-api-div" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Lurk!</div>
      <ul class="panel-body list-group">

        <form id="query" action="." method="get" class="form-horizontal">
          <% if @query_params.present? %>
            <li class="list-group-item">
              <p>Query</p>
              <fieldset ref="query-params">
                <% @query_params.each do |label, value| %>
                  <%= render 'param_form_element', :label => label, :value => value, :label_text => label %>
                <% end %>
              </fieldset>
            </li>
          <% end %>
        </form>

        <form accept-charset="UTF-8" action="<%= @endpoint_presenter.named_path %>" id="payload" class="form-horizontal" method="<%= @endpoint_presenter.form_verb %>">
          <input name="_method" value="<%= @endpoint_presenter.verb %>" type="hidden" />
          <% if @url_params.present? %>
            <li class="list-group-item">
              <p>URL Params</p>
              <fieldset ref="url-params">
                <% @url_params.each do |label, value| %>
                  <%= render 'param_form_element', :label => "_url_params[#{label}]", :value => value, :label_text => label %>
                <% end %>
              </fieldset>
            </li>
          <% end %>

          <% if @post_params.present? %>
            <li class="list-group-item">
              <p>Payload</p>
              <fieldset ref="post-params">
                <%= Lurker::FormBuilder.new(@post_params).html.html_safe %>
              </fieldset>
            </li>
          <% end %>

          <li class="list-group-item form-actions">
            <input id="submit-api" type="submit" class="btn btn-primary pull-right"></input>
          </div>
        </form>
      </ul>
    </div> <!-- ./panel-default -->
  </div> <!-- ./col-md-4 -->
</div>
